[{{ item }}]

listen = /run/php/php{{ php_ver }}-fpm-{{ item }}.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

user = {{ item }}
group = {{ item }}

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

env[APP_PROJECT_NAME] = {{ item }}
env[APP_PROJECT_GROUP] = {{ group }}
env[APP_ENV] = {{ env }}
