server {

    listen 80;

    server_name {{ item }}.example.local;

    root /usr/share/nginx/html;
    index index.php;

    access_log /var/log/nginx/{{ item }}.log;
    error_log  /var/log/nginx/{{ item }}-error.log error;

    try_files $uri $uri/ /index.php?$query_string;

    location ~ \.php$ {
            fastcgi_pass unix:/run/php/php{{ php_ver }}-fpm-{{ item }}.sock;
            include fastcgi_params;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param PATH_INFO $fastcgi_path_info;
    }
}
